
node_modules
dist
.vite
.env
npm-debug.log
yarn-error.log


__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.sqlite3
*.db
*.log


.git
.gitignore


.DS_Store
Thumbs.db
.vscode/
.idea/


docker-compose.override.yml