fastapi
uvicorn

# Environment & Utilities
python-dotenv
requests

# LangChain Ecosystem
langchain
langchain-core
langchain-chroma
langchain-community
langchain-ollama
langchain-huggingface

# Vector Database
chromadb

# Embeddings
sentence-transformers

# Pydantic (FastAPI dependency)
pydantic

streamlit