fastapi
uvicorn

# Environment & Utilities
python-dotenv
requests

# LangChain Ecosystem
langchain
langchain-core
langchain-chroma
langchain-community
langchain-ollama
langchain-huggingface
# transformers
tiktoken
langchain-text-splitters

# Embeddings
fastembed

# Pydantic (FastAPI dependency)
pydantic

streamlit